#main-view {
    padding: 0px 20px;
    margin-top: 60px;
}

#main-nav {
    margin-bottom: 0px;
}

#main-nav .notifications {
    width: 50%;
}

#main-nav .fork-me {
    margin-right: 25px;
}

#main-nav .fork-me img {
    height: 20px;
}

body {
    overflow-y: scroll;
}

h2 {
    font-size: 1.7em;
}

.valign-with-h2 {
    padding-top: 20px;
    line-height: 2em;
}

.editor .error-feedback {
    min-height: 30px;
    margin-top: 20px;
}

.editor .song-title {
    color: #444;
    font-size: 1.2em;
    text-decoration: underline;
}

.compiled-song {
    overflow: auto;
}

@media (min-width: 1200px) {
    .compiled-song {
        position: fixed;
    }
}

.compiled-song canvas {
    width: 100%;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.label-bigger {
    padding: 10px 12px;
}

.CodeMirror {
    height: auto;
}

.blog {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
}

.blog h2, .blog h3 {
    color: black;
}
