section.editor
    div.row
        div.col-lg-6
            div.row
                div.col-lg-3
                    h2 Song Source
                div.col-lg-9.valign-with-h2
                    span.song-title
            textarea.source-code.form-control
        div.col-lg-6
            h2 Compiled Song
            .compiled-song-root
