section.editor
    div.row
        div.col-lg-6
            div.row
                div.col-lg-4
                    h2 Song Source
                div.col-lg-8.valign-with-h2
                    span.song-title
            textarea.source-code.form-control
            .error-feedback &nbsp;
        div.col-lg-6
            h2 Compiled Song
            .player-root
            .compiled-song-root
