section.editor
    div.row
        div.col-lg-6
            h2 Song Source
            textarea.source-code.form-control
            .error-feedback &nbsp;
        div.col-lg-6
            h2 Compiled Song
            .player-root
            .compiled-song-root
