section.blog
    h2 Making Noise In The Browser

    p 
        | This project was created to experiment with two main ideas: 
        | Music as a grammar and procedural sound generation with the 
        | <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">Web Audio API.</a> 
    
    h3 Music As A Grammar
    
    p
        span Traditionally you write music on scores, either on paper or with a computer program that mimics what you would do on paper.
        br
        span This is an attempt to provide <a href="#/edit">another way</a>.
    
    h3 Procedural sound generation
    
    p Everything you hear on this site is generated from very basic primitives (oscillators) and some standard audio nodes for plumbing and effects.
    
    h3 Cool Tech Inside
    
    p One of the things that motivate me in this project is that it uses many very cool web technologies.
    ul
        li the Web Audio API, of course
        li web workers, to generate the sounds using multiple threads
        li a canvas to draw the traditional representation of songs
        li Backbone for the UI
