nav#main-nav.navbar.navbar-default.navbar-fixed-top
    .row
        .col-xs-6
            .navbar-header
                a(href="#/home").navbar-brand Sound-Of-Ascii
            ul.nav.navbar-nav
                li
                    a(href="#/edit") Editor
            .navbar-right.navbar-text.notifications
        .col-xs-6
            .navbar-btn.player-root.navbar-left
            .navbar-right.navbar-text.fork-me
                a(href="https://github.com/djfm/sound-of-ascii" target="_blank")
                    img(src="img/fork.svg" alt="Fork me on Github")
                
#main-view
