nav#main-nav.navbar.navbar-default.navbar-fixed-top
    div.navbar-header
        a(href="#/home").navbar-brand Sound-Of-Ascii
    ul.nav.navbar-nav
        li
            a(href="#/edit") Editor
#main-view
