nav#main-nav.navbar.navbar-default.navbar-fixed-top
    .row
        .col-xs-6
            .navbar-header
                a(href="#/home").navbar-brand Sound-Of-Ascii
            ul.nav.navbar-nav
                li
                    a(href="#/edit") Editor
            .navbar-right.navbar-text.notifications
        .col-xs-6
            .navbar-btn.player-root
                
#main-view
