.player
    button(type="button" class="btn btn-default play-button")
        span(class="glyphicon glyphicon-play")
        span &nbsp; play!
    span &nbsp;
    button(type="button" class="btn btn-default stop-button" disabled=true)
        span(class="glyphicon glyphicon-stop")
        span &nbsp; stop
    br
    br 
    
